@import "mixins.scss";

header {
    width: 100vw;
    @include flex-center;
    
    .content {
        @include flex-center;
        flex-direction: row;
        width: 85vw;
        padding: 10px 0;
        border-bottom: 2px solid green;
        color: $green;
        
        a {
            height: 80px;
        }
        
        p {
            font-size: 1.2em;
            font-weight: 600;
            color: $green;
            margin-left: .2em;
        }

        &__phone-wrapper {
            @include flex-center;
            margin-left: 2em;
        }

        &__phone-img {
            height: 20px;
            width: 20px;
        }
        
        &__logo-img {
            width: 220px;
            height: 80px;
        }
    
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            padding: 0;
            padding-left: 200px;
    
            li {
                padding: 0 20px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}

