@import "mixins.scss";

//main page

section.intro {
    @include flex-center;
    position: relative;

    .scroll-down {
        position: absolute;
        width: 30px;
        height: 50px;
        border: 2px solid white;
        bottom: 45px;
        left: 49%;
        border-radius: 50px;
        cursor: pointer;
    }

    .scroll-down::after,
    .scroll-down::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border: 2px solid white;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
    }

    .scroll-down::before {
        top: 30%;
        animation-delay: 0.3s;
      }
      
      @keyframes scroll-down {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          opacity: 1;
        }
        100% {
          top: 90%;
          opacity: 0;
        }
      }
      
    
    .content {
        
        .wrapper {
            width: 75vw;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 200px 0 170px 0;

            &__text {
                display: flex;
                flex-direction: column;

                h2 {
                    
                    span {
                        font-size: 2.1em;
                        font-weight: 300;
                    }
    
                    span:first-of-type {
                        color: white;
                    }

                    span:last-of-type {
                        color: $green;
                    }
                }

                span {
                    color: white;
                    margin-bottom: 20px;
                    font-size: 1.5em;
                }

                button {
                    width: 170px;
                    height: 50px;
                    background-color: $green;
                    color: white;
                    font-family: montserrat;
                    font-size: 1.3em;
                    border: none;
                    border-radius: 0.3em;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    transition: 0.3s;
                    cursor: pointer;
                }

                button:hover {
                    background-color: white;
                    border: 2px solid $green;
                    color: $green; 
                }
            }

            &__schedule {
                background-color: rgba(144, 238, 144, 0.6);
                color: #fff;

                .clock-img {
                    height: 1em;
                    margin-right: 10px;
                }

                .darbo-laikas {
                    @include flex-center;
                    font-size: 1.6em;
                    margin: 40px 20px 0 20px;
                    text-align: center;
                    padding-bottom: 15px;
                    border-bottom: 2px solid white;         
                }

                table {
                    @include flex-center;
                    padding: 20px;
                }

                td {
                    width: 150px;
                    padding: 15px;
                    font-size: 1.2em;
                    font-weight: 600;
                }

                .phone-wrapper {
                    @include flex-center;
                    letter-spacing: 0.03em;
                    transition: 0.3s;
                    font-size: 1.7em;
                    margin-bottom: 35px;

                    p {
                        margin: 0;
                        font-weight: 300;
                    }
                }
        
                .phone-img {
                    height: 1em;
                    margin-right: 10px;
                }
            }
        }
    }
}

//kontaktai

section.intro {

    .content {

        @include flex-center;

        &__kontaktai-wrapper {
            @include flex-center;
            flex-direction: column;
            height: 100vh;
        }

        &__kontaktai-heading {

            font-size: 3rem;
            margin-bottom: 20px;
            font-weight: 300;

            span:nth-of-type(1) {
                color: white;
            }

            span:nth-of-type(2) {
                color: $green;
            }
        }

        &__kontaktai-svg {
            img {
                height: 4em;
                width: 4em;
            }
        }
    }
}

//paslaugos

section.intro {

    .content {

        @include flex-center;

        &__paslaugos-wrapper {
            @include flex-center;
            flex-direction: column;
            height: 100vh;
        }

        &__paslaugos-heading {

            font-size: 3rem;
            margin-bottom: 20px;
            font-weight: 300;

            span:nth-of-type(1) {
                color: white;
            }

            span:nth-of-type(2) {
                color: $green;
            }
        }

        &__paslaugos-svg {
            img {
                height: 4em;
                width: 4em;
            }
        }
    }
}

//kainorastis

section.intro {

    .content {

        @include flex-center;

        &__kainorastis-wrapper {
            @include flex-center;
            flex-direction: column;
            height: 100vh;
        }

        &__kainorastis-heading {

            font-size: 3rem;
            margin-bottom: 20px;
            font-weight: 300;

            span:nth-of-type(1) {
                color: white;
            }

            span:nth-of-type(2) {
                color: $green;
            }
        }

        &__kainorastis-svg {
            img {
                height: 4em;
                width: 4em;
            }
        }
    }
}