@import "mixins.scss";

section.intro {
    @include flex-center;
    
    .content {
        
        .wrapper {
            width: 75vw;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 130px 0;

            &__text {
                display: flex;
                flex-direction: column;

                h2 {
                    
                    span {
                        font-size: 2.1em;
                        font-weight: 300;
                    }
    
                    span:first-of-type {
                        color: white;
                    }

                    span:last-of-type {
                        color: $green;
                    }
                }

                span {
                    color: white;
                    margin-bottom: 20px;
                    font-size: 1.5em;
                }

                button {
                    width: 170px;
                    height: 50px;
                    background-color: $green;
                    color: white;
                    font-family: montserrat;
                    font-size: 1.3em;
                    border: none;
                    border-radius: 0.3em;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    // font-weight: 600;
                    transition: 0.3s;
                    cursor: pointer;
                }

                button:hover {
                    background-color: white;
                    border: 2px solid $green;
                    color: $green; 
                }
            }

            &__schedule {
                background-color: rgba(144, 238, 144, 0.6);
                color: #fff;

                .clock-img {
                    height: 1em;
                    margin-right: 10px;
                }

                .darbo-laikas {
                    @include flex-center;
                    font-size: 1.6em;
                    margin: 40px 20px 0 20px;
                    text-align: center;
                    padding-bottom: 15px;
                    border-bottom: 2px solid white;         
                }

                table {
                    @include flex-center;
                    padding: 20px;
                }

                td {
                    width: 150px;
                    padding: 15px;
                    font-size: 1.2em;
                    font-weight: 600;
                }

                .phone-wrapper {
                    @include flex-center;
                    letter-spacing: 0.03em;
                    transition: 0.3s;
                    font-size: 1.7em;
                    margin-bottom: 35px;

                    p {
                        margin: 0;
                        font-weight: 300;
                    }
                }
        
                .phone-img {
                    height: 1em;
                    margin-right: 10px;
                }
            }
        }
    }
}