@import "mixins.scss";



@media (max-width: 1220px) {
    
    header {

        div.content {
            width: 95vw;
        }
        
        #header-list {
            display: none;
        }

        #menu-btn {
            display: flex;
            margin-right: 20px;
        }
    }
}
