@import "mixins.scss";

// kainorastis 

@media (max-width: 590px) {

    section.kainorastis {
        div.content {
            font-size: 1em;
        }
    }
}

// paslaugos

@media (max-width: 480px) {
    #paslaugos-heading {
        text-align: center;
    }
}

@media (max-width: 690px) {
    section.paslaugos {
        div.content {
            div.service-wrapper {
                flex-direction: column;
                @include flex-center;
                div.service-button {
                    width: 90%;
                    border: 2px solid $green;
                    border-bottom: none;

                    &:last-of-type {
                        border-bottom: 2px solid $green;
                    }
                }
            }
        }
    }
}


@media (max-width: 400px) {
    section.paslaugos {
        div.content {
            .service-desc {
                .wrapper__contact {
                    &::after {
                        width: 150%;
                    }
                }
            }
        }
    }
}

// kontaktai

@media (max-width: 1391px) {
    #contact-list-wrapper {
        flex-direction: column;

        .contact-list.dos {
            margin: 0;
        }
    }
}

@media (max-width: 1160px) {
    #schedule-side {
        padding: 40px;
    }
}

@media (max-width: 1000px) {

    #map-side {
        width: 100vw;
    }

    #schedule-side {
        width: 100vw;
        padding-bottom: 50px;

        div.logo-wrapper {

            display: none;
        }
    }

    #contacts {
        div.content {
            display: flex;
            flex-direction: column;
            height: unset;
        }
    }
}

@media (max-width: 680px) {
    #content__kontaktai-heading {
            text-align: center;     
    }

    #map-side {
        padding: 15px;

        .title.uno {
            margin-top: 20px;
        }
    }
}

@media (max-width: 450px) {
    #contact-list-wrapper {
        font-size: 0.8em;
    }
}
//main page

@media (max-width: 1220px) {
    
    header {

        div.content {
            width: 95vw;
        }
        
        #header-list {
            display: none;
        }

        #menu-btn {
            display: flex;
            margin-right: 20px;
        }
    }

    #us-wrapper {
        flex-direction: column;

        #text-column {
            width: 100%;
        }

        #swiper-container {
            width: 80%;
            margin-top: 100px;
        }
    }

    #intro-wrapper {
        width: 90vw;
    }
}

@media (max-width: 1000px) {
    #intro-wrapper {
        @include flex-center;
        flex-direction: column;
        padding-bottom: 100px;
    }

    section.apie-mus {
        #us-wrapper {

            #text-column {
                .wrapper {
                    padding: 0 10px;
                }                
            }
        }
    }
    
    #schedule {
        margin-top: 8em;

        #td {
            width: 30vw;
        }
    }
}

@media (max-width: 1100px) {
    #map {
        display: none;
    }
}

@media (max-width: 850px) {
    section.tech-cards {
        div.content {

            &__card-wrapper {

                div.content__card {
                    height: 150px;
                }
            }
        }
    }
}

@media (max-width: 804px) {
    section.outro {
        div.content {
            flex-direction: column;
        }
    }

    section.service-cards {
        #card-wrapper {
            font-size: 0.8em;
            flex-direction: column;
            
            div.content__card {
                width: 100vw;
                background: linear-gradient(180deg, rgba(58,198,76,1) 0%, $green 51%);
                height: 70px;

                span.content__title {
                    margin: 0;
                }
            }
        }
    }

}

@media (max-width: 700px) {
    #swiper-container {
        display: none;
    }
}

@media (max-width: 600px) {
    #intro-wrapper {
        @include flex-center;
        flex-direction: column;
        
        #heading {
            font-size: 1.2em;
        }

        #bottom-text {
            font-size: 1.2em;
        }
    }
}

@media (max-width: 440px) {
    #intro-wrapper {
        @include flex-center;
        flex-direction: column;
        
        #heading {
            font-size: 0.9em;
        }

        #bottom-text {
            font-size: 1.1em;
        }
    }

    #patirtis {
        font-size: 0.8em;
    }
}