@import "mixins.scss";

section.service-cards {
    .content {

        display: flex;
        flex-direction: column;

        &__card-wrapper {
            display: flex;
        }

        &__card {
            width: 20vw;
            height: 200px;
            background: rgb(58,198,76);
            background: linear-gradient(270deg, rgba(58,198,76,1) 0%, $green 51%);
            @include flex-center;
            flex-direction: column;
        }

        &__title {
            position: relative;
            color: white;
            font-size: 1.3em;
            text-align: center;
            max-width: 15vw;
            padding: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        &__title::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            background-color: transparent;
            border: 2px solid transparent;
        }

        &__title:hover::before {
            animation: animate 0.7s linear forwards;
        }

        @keyframes animate {
            0% {
                width: 0;
                height: 0;
                border-top-color: #fff;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }

            50% {
                width: 100%;
                height: 0;
                border-top-color: #fff;
                border-right-color: #fff;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }

            100% {
                width: 100%;
                height: 100%;
                border-top-color: #fff;
                border-right-color: #fff;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
        }

        &__title::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            background-color: transparent;
            border: 2px solid transparent;
        }

        &__title:hover::after {
            animation: animate2 0.7s linear forwards;
        }

        @keyframes animate2 {
            0% {
                width: 0;
                height: 0;
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: #fff;
            }

            50% {
                width: 0;
                height: 100%;
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: #fff;
                border-left-color: #fff;
            }

            100% {
                width: 100%;
                height: 100%;
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: #fff;
                border-left-color: #fff;
            }
        }
    }
}